<template>

</template>

<script>
    export default {
      data(){
        return{
          arrayTemperatura:[]
        }
      },
      methods : {
        listarTemperatura(){
          let me = this;
          axios.get('/temperatura').then(function(response){
            me.arrayTemperatura = response.data;
          })
          .catch(function(error){
            console.log(error);
          });
        }
      },
        mounted() {
            this.listarTemperatura();
        }
    }
</script>
