<template>
  <div class="main-panel">
    <div class="content-wrapper">
          <line-chart2></line-chart2>
    </div>
  </div>

</template>

<script>
Vue.component('line-chart2', {
  extends: VueChartJs.Line,
  mounted () {
    let uri = '/time';
    let humidity = new Array();
    let time = new Array();
    axios.get(uri).then((response) => {
       let data = response.data;
       if(data) {
          data.forEach(element => {
          humidity.push(element.hum);
          time.push(element.created_at);
          });
  }
 });
    this.renderChart({
      labels: time,
      datasets: [
        {
          label: 'Humedad',
          borderColor: '#249EBF',
          pointBackgroundColor: 'white',
          borderWidth: 1,
          pointBorderColor: '#3498DB',
          backgroundColor: 'transparent',
          data: humidity
        }
      ]
    }, {responsive: true, maintainAspectRatio: false})
  }

})
</script>
