<template>
<div class="main-panel">
  <div class="content-wrapper">
        <line-chart></line-chart>
  </div>
</div>
</template>

<script>
Vue.component('line-chart', {
  extends: VueChartJs.Line,
  mounted () {
    let uri = '/time';
    let temperature = new Array();
    let time = new Array();
    axios.get(uri).then((response) => {
       let data = response.data;
       if(data) {
          data.forEach(element => {
          temperature.push(element.temp);
          time.push(element.created_at);
          });
  }
  else {
   console.log('No data');
}
 });
    this.renderChart({
      labels: time,
      datasets: [
        {
          label: 'Temperatura',
          borderColor: '#f87979',
          pointBackgroundColor: 'white',
          borderWidth: 1,
          pointBorderColor: '#f87979',
          backgroundColor: 'transparent',
          data: temperature
        }
      ]
    }, {responsive: true, maintainAspectRatio: false})
  }

})
</script>
